@font-face {
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/silkscreen/v4/m8JXjfVPf62XiF7kO-i9YL1la1OD.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

* { 
    font-family: 'Silkscreen';
}

.p {
    font-size: 15px;
}

.tiny-container {
    width: 40%;
    margin: 150px auto;
    padding: 5px 20px 20px 5px;
    background-color: #FAF9F6;

}

.log-in {
    text-align: center;

}

body {
    background-image: url(kk.png);
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
     overflow-y: hidden; /* Hide vertical scrollbar */
     overflow-x: hidden; /* Hide horizontal scrollbar */
  }